body {
	font-family: 'Montserrat', sans-serif;
	background-color:whitesmoke;
}

.container {
	width: 80%;
	margin: auto;
}

h3 {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold; 
	font-style: normal;
	margin: 10px 0px 0px 0px;
	
}
h6 {
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	font-weight: 700; 
	font-style: normal;
	text-transform: uppercase;
	margin: 10px 0px 0px 0px;
	
	
}


.casePara {
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	line-height: 1.4em;
	Margin:10px 0 10px 0;
	padding: 5px 0px 30px 0px;

}

#mainHeader {
	padding-top: 15px;
	background-color: #D9EAD3;
	color: #1f3617;
}


		
#mainHeader ul {
	padding-bottom: 15px;
	list-style: none;
	text-align-last: right;
	}
		
#mainHeader li {
	display: inline;
		
	}
		
#mainHeader a{
	color: #1f3617;
	text-decoration: none;
	font-size: 18px;
	padding-right: 15px;

	}












}

.mainHeader h4 {
	margin-left: 15px;
	color: #1f3617;
}





.mainNavItem {
	display:flex;
	justify-content: flex-end;
	align-items: center;
	padding: 0 16px;
	margin-right: 45px;
	border: 2px, solid red;

}


.mainContent {
	display: flex;
	flex-direction: column;
	align-items: center;

	
}

.button {
background: linear-gradient(0.3turn, #3f87a6, #ebf8e1);
margin: 10px 0px;
border: 5px;
border-radius: 8px;
color: #1f3617;
cursor:pointer;
padding: 12px 28px;
font-family: 'Montserrat', sans-serif;
font-size: 12px;
font-weight: 900;
box-shadow: 0px 2px 4px 0px #bbbbbb;

}

.button:hover {
	color: rgb(224, 98, 52);
	background: linear-gradient(0.3turn, #4f9ec0, #f4faf0);
	box-shadow: none;
	
}

.caseStudyBody {
	display: flex;
	flex-direction: column;
	flex-wrap: space-around;
	margin: 80px 0px;

}

.caseStudyBody img {
	border-radius: 5px;
}

.siteLogo {
	display: flex;
	align-items: flex-start;
	padding: 16px;
	color: #1f3617;
	
} 

.flexContainer {
	display: flex;
	align-items: center;
	height: 480px;

  }

.flexItem {
	display: flex;
	flex-direction: column;
	align-items: center;
	border:3px whitesmoke;
	border-radius: 6px;
	margin: 10px;
	padding: 10px;
	width: 250px;
	height: 400px;
  }

.flexItem h6:hover {
	color:coral;
	font-weight: 900;
	font-size: 13px;
}  
 
.justifyContent {
	justify-content: center;
  }
.perfectlyCentered {
	justify-content: center;
	align-items: center;
  }
.alignItems {
	align-items: center;
  }



li:hover {
	color: coral;
	border-bottom: 3px solid coral;
	padding: 5px;


}





.myForm {
	padding: 30px 200px;
	
}

.myForm .form-group {
	padding-bottom: 15px;
	

}

.myForm label {
	display: block;
	
}

.myForm input[type="text"], .myForm textarea {
	padding: 8px;
	width: 100%;
	border: none;
	box-shadow: 0px 2px 4px 0px #bbbbbb;
	border-radius: 5px;

}

.footerNavigation {
	display:flex;
	justify-content: flex-end;
	align-items: center;
	background-color: #D9EAD3;
	height: 70px;
	color: #1f3617;
}

.footerItem {
	padding: 0 16px;
	margin-right: 45px;
	list-style: none;

}
#copyright {
	text-align:left;
}

@media (max-width:600px){
	#main{
		width:100%;
		float:none;
	}
	#sidebar{
		width:100%;
		float:none;
	}
}